@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Short+Stack&display=swap");

body,
button {
  margin: 0;
  font-family: "Short Stack", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  user-select: none;
  max-width: 100%;
}

.fullscreen-enabled {
  min-height: 100vh;
  background-image: url("/img/bg/linedpaper.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
