@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Short+Stack&display=swap");

body,
button {
  margin: 0;
  font-family: "Short Stack", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 110%;
}

p {
  line-height: 160%;
}

canvas {
  user-select: none;
  max-width: 100%;
}

.fullscreen-enabled {
  min-height: 100vh;
  background-image: url("/img/bg/linedpaper.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.underline {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: black;
  position: absolute;
  bottom: -6px;
}

@media (max-width: 560px) {
  body,
  button {
    font-size: 0.9em;
  }
}
